h3{
  text-align: center;
}
.logo {
  display: inline-block;
  margin: 0px;
  height: 250px;
  width: 200px;
  border-radius: 0.25rem;  
}

h4 {
color: #2F4454 ;
}


.display{
  display: block;
  margin:  0 auto;
  column-count: 4;
  column-gap: 1px;
  width: 100%;
  border: solid grey 0.2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn{
  background-color:#2F4454;
  padding: 2px;
  width: 150px;
} 
.contain{
  margin-top: 10px;
}

