.rating{
  display: flex;
  flex-direction: row;
  border: solid grey 0.2px;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contains{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0;
  border: solid grey 0.2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.left{
  border: solid grey 0.2px;
}
button{
  background-color:#2F4454;
}